##############
# .gitignore #
##############

# Unity
[Tt]emp/*
[Ll]ibrary/*
[Bb]uild/*

# OSX
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.SyncPart
*.SyncPart.meta
*.nosync

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
