@import "compass/reset";
@import "compass/css3";
@import "bootstrap";
@import "animate";


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

a {
	@include transition-duration(0.2s);
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.navbar-brand {
	img {
		height: 44px;
		margin: -12px;
	}

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}


/* CUSTOMIZE THE HERO
-------------------------------------------------- */
$hero-height: 680px;

/* Carousel base class */
.hero {
	height: $hero-height;
	margin-bottom: 60px;
	/*background-image: url("../img/bg1.jpg");*/
	background-color: grey;
	background-position: center;

	.hero-parallax-container {
		position: absolute;
		left: -50px;
		right: 0px;
		height: $hero-height;
		overflow: hidden;
	}
	.hero-fence {
		position: absolute;
		width: 100%;
		height: $hero-height;
		z-index: 10;
	}
	#hero-parallax {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: $hero-height;
		overflow: hidden;
		.parallax-layer {
			position: absolute;
		}
	}
	.hero-inner {
		position: absolute;
		height: $hero-height;
		width: 100%;
		z-index: 1;
		padding-top: 100px;
		text-align: center;
		.logo {
			max-width: 600px;
			width: 92%;
			@include transition-timing-function(cubic-bezier(0.42,0,0.58,1));
			-webkit-transform-origin:50% -500%;
			-moz-transform-origin:50% -500%;
			transform-origin:50% -500%;
		}
		.brief {
			padding: 32px 18px 0;
			margin: auto;
			text-align: center;
			font-size: 16px;
			max-width: 724px;
			color: #eee;
			p {
				margin-bottom: 22px;
				@include text-shadow(0 0 4px rgba(0,0,0, 0.6), 1.6px 1.6px 0 #000, -1.6px 1.6px 0 #000, 1.6px -1.6px 0 #000, -1.6px -1.6px 0 #000);
			}
			a {
				margin-top: 8px;
				background-color: rgba(255,255,255, .4);
			}
			a:hover {
				background-color: rgba(255,255,255, .6);
			}

			span { display: inline-block; }
		}
	}
}

.hero-ranking {
	position: absolute;
	top: $hero-height - 105px;
	width: 100%;
	height: 300px;
	text-align: right;

	.hero-line {
		overflow: hidden;
		.top {
			width: 127px;
			height: 118px;
			position: absolute;
			background-image: url("../img/titan-icon.png");
			background-repeat: no-repeat;
			text-align: center;
			padding-left: 30px;
			span {
				display: block;
				color: #eee;
				@include text-shadow(0 0 4px rgba(0,0,0, 0.6), 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000);
			}
			.crusades::before {
				content: "討伐數 ";
			}
		}
	}
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	padding-left: 15px;
	padding-right: 15px;
	iframe {
		max-width: 100%;
	}
	.youtube {
		text-align: center;
	}
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
	}
	.navbar-wrapper .navbar {
		padding-left:  0;
		padding-right: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: 24px;
	}

}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}


@media (max-width: 999px) {
	.hero-ranking {
		display: none;
	}
	$hero-height: 640px;
	.hero {
		height: $hero-height;
		.hero-parallax-container {
			height: $hero-height;
		}
		.hero-fence {
			height: $hero-height;
		}
		#hero-parallax {
			height: $hero-height;
		}
		.hero-inner {
			height: $hero-height;
		}
	}
}



@media (max-width: 399px) {
	.hero-inner .logo {
		display: none;
	}
}
