@import "compass/reset";
@import "compass/css3";
@import "bootstrap";
@import "animate";

$hero-height: 680px;
$developers: 5;
$developers-in-row: 5;

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	color: #5a5a5a;
	background-image: url('../img/bbg.jpg')
}

a {
	@include transition-duration(0.2s);
}

hr {
	border-top: 1px solid #999;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.navbar-brand {
	img {
		height: 44px;
		margin: -12px;
	}

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}


/* CUSTOMIZE THE HERO
-------------------------------------------------- */

/* Carousel base class */
.hero {
	height: $hero-height;
	margin-bottom: 60px;
	background-image: url("../img/ajax-loader.gif");
	background-repeat: no-repeat;
	background-color: grey;
	background-position: center;

	.hero-parallax-container {
		position: absolute;
		left: -50px;
		right: 0px;
		height: $hero-height;
		overflow: hidden;
	}
	.hero-fence {
		position: absolute;
		width: 100%;
		height: $hero-height;
		z-index: 10;
	}
	#hero-parallax {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: $hero-height;
		overflow: hidden;
		.layer.parallax {
			img {
				margin-top: -40px;
				margin-left: -40px;
			}
		}
	}
	.hero-inner {
		position: absolute;
		height: $hero-height;
		width: 100%;
		z-index: 1;
		padding-top: 100px;
		text-align: center;
		.logo {
			max-width: 600px;
			width: 92%;
			@include transition-timing-function(cubic-bezier(0.42,0,0.58,1));
			-webkit-transform-origin:50% -500%;
			-moz-transform-origin:50% -500%;
			transform-origin:50% -500%;
		}
		.brief {
			padding: 32px 18px 0;
			margin: auto;
			text-align: center;
			font-size: 16px;
			max-width: 724px;
			color: #eee;
			p {
				margin-bottom: 22px;
				@include text-shadow(0 0 4px rgba(0,0,0, 0.6), 1.6px 1.6px 0 #000, -1.6px 1.6px 0 #000, 1.6px -1.6px 0 #000, -1.6px -1.6px 0 #000);
			}
			a {
				margin-top: 8px;
				background-color: rgba(255,255,255, .4);
			}
			a:hover {
				background-color: rgba(255,255,255, .6);
			}

			span { display: inline-block; }
		}
	}
}

.hero-ranking {
	opacity: 0;
	position: absolute;
	top: $hero-height - 105px;
	width: 100%;
	height: 300px;
	text-align: right;

	.hero-line {
		overflow: hidden;
		.top {
			width: 127px;
			height: 118px;
			position: absolute;
			background-image: url("../img/titan-icon.png");
			background-repeat: no-repeat;
			text-align: center;
			padding-left: 30px;
			span {
				display: block;
				color: #eee;
				@include text-shadow(0 0 4px rgba(0,0,0, 0.6), 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000);
			}
			.crusades::before {
				content: "討伐數 ";
			}
		}
	}
}


/* CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.content {
	padding-left: 15px;
	padding-right: 15px;
	iframe {
		max-width: 100%;
	}
	.youtube {
		text-align: center;
	}
}

/* Center align the text within the three columns below the carousel */
.content .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.content h2 {
	font-weight: normal;
}
.content .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the content headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.developers-container {
	background-image: url('../img/dbg.jpg');
	background-size: auto;
	background-repeat: repeat;
	background-color: grey;
}

.developers {
	width: 100%;
	background-color: #aaa;
	text-align: center;
	position: relative;
	padding-top: 12px;
	padding-bottom: 18px;

	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.3) 85%, rgba(0,0,0,0.6) 98%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.3)), color-stop(98%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.3) 85%,rgba(0,0,0,0.6) 98%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.3) 85%,rgba(0,0,0,0.6) 98%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.3) 85%,rgba(0,0,0,0.6) 98%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.3) 85%,rgba(0,0,0,0.6) 98%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	* {
		text-align: center;
		@include transition-duration(0.2s);
	}
	.developers-title {
		@extend .col-md-12;
		text-align: left;
		* { text-align: left; }
	}
	hr {
		border-top: 1px solid #777;
	}
	.developer {
		@extend .col-md-2;
		@extend .col-xs-6;
		position: relative;
		margin: 18px 0;
	}
	.developer, .developer a {
		$shadow: 0 1px 20px rgba(0,0,0, .8);
		text-align: center;
		font-size: 24px;
		color: #eee;
		img {
			position: relative;
			max-width: 100%;
			border:1px solid #999;
			padding:5px;
			background:#efefef;
			margin-bottom: 12px;
			@extend .img-circle;
			@include box-shadow($shadow);
		}
		@include text-shadow($shadow);
	}
	.developer a:hover {
		$shadow: 0 4px 30px rgba(0,0,0, 1);
		text-decoration: none;
		img {
			@include box-shadow($shadow);
			top: -8px;
			bottom: 8px;
		}
		//@include text-shadow($shadow);
	}
}

/* FOOTER
-------------------------------------------------- */

.footer-container {
	border-top: 1px solid #444;
	background-color: #555;
	padding-top: 10px;
	padding-bottom: 30px;
	footer, footer * {
		color: #000;
	}
	footer {

	}
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

	/* Remove the edge padding needed for mobile */
	.content {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
	}
	.navbar-wrapper .navbar {
		padding-left:  0;
		padding-right: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: 24px;
	}

}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}

	.developers {
		.developer {
			position: relative;
			width: (100% / $developers-in-row);
			a {
				display: block;
				margin: 0 18px;
			}
		}
		@if ($developers % $developers-in-row > 0) {
			@for $i from 1 through ($developers % $developers-in-row - 1) {
				.developer:nth-child(#{ $developers - $i}) {
					margin-right: (100% - (100% / $developers-in-row) * ($developers % $developers-in-row) ) / ($developers % $developers-in-row - 1);
				}
			}
		}
	}
}


@media (max-width: 999px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
	.hero-ranking {
		display: none;
	}
	$hero-height: 640px;
	.hero {
		height: $hero-height;
		.hero-parallax-container {
			height: $hero-height;
		}
		.hero-fence {
			height: $hero-height;
		}
		#hero-parallax {
			height: $hero-height;
		}
		.hero-inner {
			height: $hero-height;
		}
	}
}


@media (max-width: 639px) {
	.featurette-divider {
		margin: 20px 0;
	}
}


@media (max-width: 399px) {
	.hero-inner .logo {
		display: none;
	}
	.featurette-divider {
		margin: 10px 0;
	}
	.developers {
		.developer, .developer a {
			font-size: 12px;
		}
	}
}
